node_modules
apps
docs
release
scripts
bin

build
dist
*.exe
*.dll
*.ico
*.lnk
backend.exe
WebView2Loader.dll

.git
.github
.gitignore
.lintstagedrc.json
.husky
check_icons.py
map.txt
FileENIAC.lnk

*.log
coverage
.phpunit.result.cache
test_results.txt
results.xml
